input, label {
    margin: 5px; /* Adjust margin as needed */
    display: block;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
