        form {
            text-align: center;
            font-family: "Assistant SemiBold";
        }

        h3, h1, button {
            text-align: center;
            font-family: "Assistant SemiBold";
        }

        img {
            max-width: 30%;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            text-align: center;
        }







